@import "_reset";
@import "_fonts";
@import "vars";
@import "global";


.header {
  background-color: $bg;
}

.header__menu {
  font-family: 'Inika', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;

  padding: 56px 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu__lists {
  display: flex;
}

.header__description-btn:hover,
.menu__list-link:hover {
  color: $color-title;
}

.menu__list-item + .menu__list-item {
  margin-left: 46px;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 0 94px;
}

.leafs-img {
  margin-top: -30px;
}

.header__description {
  display: flex;
  width: 550px;
  flex-direction: column;

  .header__description-title {
    Font-family: 'Inter', sans-serif;
    Font-size: 45px;
    line-height: 50px;
    color: #717171;

    .header__description-title-word {
      color: $color-text
    }

  }

  .header__description-text {
    margin: 42px 0 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
  }

  .header__description-btn {
    max-width: 158px;
    height: 44px;
    border-radius: 10px;
    border: 2px solid $color-title
  }
}

.about__inner {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0;
}

.about__inner-content {
  .about__inner-title {
    font-family: 'Inika', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: $color-text;
    width: 463px;
    padding-bottom: 40px;

    .about__inner-title-word {
      color: $color-title;
    }

  }

  .about__inner-text {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    width: 600px
  }
}

.project {
  background-color: $bg;
}

.project__inner {
  padding: 40px 0 121px;
}

.project__inner-filter {
  display: flex;
  padding: 0 0 40px;

  .project__inner-title {
    width: 306px;
    margin-right: 140px;
    font-family: 'Inika', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: $color-text
  }

  .project__inner-filter-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .project__inner-filter-btn {
    width: 161px;
    height: 50px;
    left: 557px;
    top: 69px;
    border: 1px solid $color-title;
    color: $color-title;
    border-radius: 5px
  }

  .project__inner-filter-btn + .project__inner-filter-btn {
    margin-left: 38px;

  }
}

.project__inner-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between

}

.project__inner-item {
  text-align: center;
  margin-bottom: 50px;

  .img-1 {
  }

  .project__inner-item-title {
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    color: $color-title;
  }

  .project__inner-item-description {
    border: 1px solid #E3E1D5;
    border-radius: 0 0 20px 20px;
    padding-bottom: 36px
  }

  .project__inner-item-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
  }
}

.prices__inner {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 115px;

}

.prices__inner-right-title,
.prices__inner-left-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.prices__inner-left {
  display: flex;
  flex-direction: column;

  .prices__inner-left-title {
    padding-bottom: 60px;
  }
}

.prices__inner-lists-btn {
  display: flex;
  flex-direction: column;
  width: 332px;
  padding: 40px 34px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;

  .prices__inner-btn + .prices__inner-btn {
    margin-top: 32px;
  }

  .prices__inner-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 50px;
    left: 150px;
    top: 347.01px;
    background: #EDF2EC;
    border-radius: 20px;

    .prices__inner-accordion-img {
      width: 16px;
      height: 16px;
      left: 344px;
      top: 282.01px;
    }
  }
}

.prices__inner-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .prices__inner-right-title {
    width: 452px;
    text-align: end;
  }

  .prices__inner-contact-us {
    width: 162px;
    height: 50px;
    margin: 38px 0 51px;
    border: 1px solid $color-title;
    color: $color-title;
    border-radius: 5px;
    background-color: #ffffff;
  }

  .title-word {
    color: $color-text
  }

  .prices__inner-img {
    width: 152px;
  }
}

.contact {
  background-color: $bg;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  padding: 53px 0 0;

  .contact__inner-title {
    padding-top: 7px;
    color: $color-text;
  }

  .contact__inner-city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
    width: 450px;
    height: 50px;
    left: 61.18%;
    right: 7.57%;
    top: 148px;
    background: #D6E7D2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0;
  }

  .city {
    margin-left: 20px;
  }

  .contact__inner-accordion-img {
    margin-right: 17px;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.footer__inner-copy-lists {
  display: flex;

  .footer__inner-copy-item + .footer__inner-copy-item {
    margin-left: 20px;
  }
}

.footer-inner__social-list {
  display: flex;

  .footer-inner__social-item + .footer-inner__social-item {
    margin-left: 30px;
  }
}

@media (max-width: 1065px) {
  .container {
    width: 85%;
  }
  .about__inner {
    flex-direction: column;
  }
}

@media(max-width: 768px) {

  .header__menu {
    padding: 35px 0;
  }

  .header__bottom {
    flex-direction: row-reverse;
    padding: 40px 0 70px;

    .leafs-img {
      width: 280px;
    }

    .header__description-title {
      width: 340px;
      font-weight: 700;
      font-size: 35px;
      line-height: 50px;
    }

    .header__description-text {

      margin: 30px 0 30px;
    }

  }

  .about__inner-content {

    .about__inner-title {
      margin: 0 auto;
      width: 423px;
      font-size: 35px;
      line-height: 46px;
      text-align: center
    }

    .about__inner-text {
      width: 330px;
      margin: 0 auto;
    }


    .about__img-houseplant {
      width: 250px;
    }
  }

  .project__inner-filter {
    flex-wrap: wrap;

    .project__inner-title {
      padding: 0 0 40px;
      font-size: 35px;
      line-height: 46px;
    }
  }

  .project__inner-item {
    width: 280px;
  }

  .project__inner-item-description {
    .project__inner-item-title {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .prices__inner {
    padding-bottom: 88px;
  }

  .prices__inner-right {
    .prices__inner-right-title {
      margin-top: 100px;
      width: 296px;
      font-size: 25px;
      line-height: 35px;
    }
  }

  .contact__inner {
    padding: 40px 0 0;
    flex-direction: column-reverse;
    align-items: center;

    .contact__inner__woman {
      width: 200px;
    }

    .contact__inner-title {
      order: 1;
      margin-bottom: 100px;
    }

    .contact__inner-city {
      margin-bottom: 250px;
    }
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;

    .footer__inner-copy-lists {
      padding-bottom: 16px;
    }

    .footer__inner-title {
      padding-bottom: 27px;
    }
  }
}

@media(max-width: 650px) {

  .menu {
    .menu__lists {
      display: none;
    }
  }

  .header__bottom {
    padding: 0 0 20px;
    justify-content: center;

    .header__description-title {
      text-align: center;
      font-size: 25px;
      line-height: 35px;
    }

    .header__description-text {
      margin: 20px 0 20px;
    }

    .leafs-img {
      display: none;
    }
  }

  .project__inner {
    padding: 0 0 40px;

    .project__inner-filter-list {
      flex-wrap: wrap;

    }
  }

  .project__inner-filter .project__inner-filter-btn + .project__inner-filter-btn {
    margin-left: 10px;
    justify-content: space-between;
  }

  .project__inner-portfolio {
    justify-content: center;
  }

  .prices__inner {
    flex-wrap: wrap;
    justify-content: center;

    .prices__inner-left-title {
      text-align: center;
    }


  }
}

.prices__inner-right {
  align-items: center;

  .prices__inner-right-title {
    margin-top: 20px;
    text-align: center;
  }

  .prices__inner-img {
    display: none;
  }

  .prices__inner-contact-us {
    margin: 14px 0 0;
  }
}

@media (max-width: 380px) {

  .header__description {
    width: 315px;

    .header__description-title {
      text-align: start;
    }

    .header__description-text {
      font-size: 16px;
      line-height: 25px;
    }

    .header__description-btn {
      width: 100px;
      height: 34px;
      font-size: 10px;
    }
  }

  .about__inner {
    padding: 30px 0;
  }

  .about__inner-content {

    .about__inner-title {
      width: 100%;
      padding-bottom: 20px;
      font-size: 25px;
      line-height: 33px;
    }

    .about__inner-text {
      font-size: 15px;
      line-height: 25px;
    }
  }

  .about__img-houseplant {
    width: 157px;
  }

  .project__inner {
    padding: 30px 0;
  }

  .project__inner-filter {
    .project__inner-title {
      font-size: 25px;
      line-height: 33px;
    }

    .project__inner-filter-list {
      justify-content: flex-start;

      .project__inner-filter-btn + .project__inner-filter-btn {
        margin-left: 0;
      }

      #btn-lawn {
        margin-left: 10px;
      }

      .project__inner-filter-btn {
        width: 121px;
        height: 35px;
        margin-bottom: 10px;
      }
    }
  }

  .prices__inner {
    padding: 25px 0 40px;
  }

  .prices__inner-left {

    .prices__inner-left-title {
      font-size: 25px;
      line-height: 30px;
      padding-bottom: 40px;
    }
  }

  .prices__inner-lists-btn {

    .description {
      font-size: 15px;
      line-height: 20px;
    }
  }

  .prices__inner-right {

    .prices__inner-right-title {
      font-size: 20px;
      line-height: 35px
    }

    .prices__inner-contact-us {
      width: 121px;
      height: 35px;
    }
  }
  .contact__inner {
    padding-top: 25px;

    .contact__inner-title {
      font-size: 25px;
      line-height: 33px;
      margin-bottom: 80px;
    }

    .contact__inner-city {
      width: 300px;
      margin: 0 0 132px;
    }
  }

.footer__inner{
  padding: 20px 0;
}
}